.App {
  width: 100%;
  text-align: center;
  margin: auto;
}

img {
  padding: 10px 10px 0;
  max-width: min(500px, calc(100% - 20px));
}

.tagline {
  margin: 0;
  padding: 0 20px 20px;
}

button {
  background: #a3be8c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #89ac6b;
}

input {
  padding: 5px;
  background: #e5e9f0;
  border-radius: 5px;
  border: none;
}

.copychunk {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emojis {
  display: inline-block;
  padding: 15px;
  background: #d8dee9;
  border-radius: 10px;
}
